.content {
    width: 70%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.rovers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    opacity: 0;
    transition: 1s opacity;
  }
  .fade-in {
    opacity: 1;
  }
.rover-card {
    background-color: #fdfdfd;
    max-width: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #999999;
}
.rover-card .desc {
    color: #000;
    padding: 10px;
}
.rover{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.rover .title{
    position: absolute;
    z-index: 1;
    width: 50%;
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.7);
    padding: 2%;
    bottom: 5%;
}
.rover img{
    width: 100%;
    transition: all .5s;
    border-radius: 10px 10px 0 0;
    filter: brightness(30%);
}
.rover:hover img{
    transform: scale(1.1);
    filter: brightness(100%);
}

@media only screen and (max-width: 1040px) {
    .rover-card {
        max-width: 48%;
    }
}

@media only screen and (max-width: 700px) {
    .rover-card {
        max-width: 100%;
    }
}