.rovers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  opacity: 0;
  transition: 1s opacity;
}
.rover-card {
  width: 32%;
  margin-top: 2%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 0 0 10px #999999;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.rover-card .title {
  position: absolute;
  z-index: 1;
  width: 100%;
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.7);
  padding: 2%;
  bottom: 5%;
}
.rover-card img {
  width: 100%;
  transition: all 0.5s;
  border-radius: 10px;
  filter: brightness(30%);
}
.rover-card:hover img {
  transform: scale(1.2);
  filter: brightness(100%);
}

@media only screen and (max-width: 1040px) {
  .rover-card {
    border-radius: 10px;
    width: 49%;
  }
}

@media only screen and (max-width: 700px) {
  .rover-card {
    border-radius: 10px;
    width: 100%;
  }
}
