/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

/*RESET*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 400;

  box-sizing: border-box;

  line-height: 1.2;
  letter-spacing: 0em;
}
html,
body {
  background-color: #fafafa;
  width: 100%;
  height: 100%;
}
h1 {
  font-size: 3.5em;
  font-weight: 600;
}
h2 {
  font-size: 2.5em;
  font-weight: 600;
}
h3 {
  font-size: 1.5em;
  font-weight: 300;
}
p {
  margin-bottom: 15px;
  font-weight: 300;
}
b,
strong {
  font-weight: bold;
}
mark {
  padding: 5px 10px;
  background: #eee;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  border: none;
  max-width: 100%;
  vertical-align: middle;
}
small {
  font-size: 0.75em;
  color: #555;
}
a {
  text-decoration: none;
  color: #000;
}
a img {
  border: 0;
}
input {
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
}
select {
  padding: 1em;
  border: none;
  border-bottom: 1px solid #000;
  margin-right: 30px;
}
select:last-of-type{margin-right: 0;}

.btn {
  padding: 1em;
  border: none;
  background: transparent;
  cursor: pointer;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 10px;
  margin-right: 15px;
}

.btn:hover {
  opacity: 0.8;
}

.btn-confirm {
  background-color: teal;
  color: #fff;
}
.btn-cancel {
  background-color: darkred;
  color: #fff;
}

#root {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto;
}

header {
  width: 100%;
  height: 300px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-image: url("./assets/cover.jpg");
  background-size: cover;
  background-position: center;
  filter: brightness(50%);
}
header .desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.my-favorites {
  padding: 10px;
  background-color: #708090;
  border-radius: 10px;
  color: #fff;
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
}

.my-favorites:hover {
  filter: brightness(90%);
}

.fade-in {
  opacity: 1;
}

main {
  padding: 1rem;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer {
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 0.8em;
  color: #9190a6;
  padding: 2rem;
  grid-row: auto;
}

footer a {
  color: #000000;
  font-weight: 600;
  margin-right: 15px;
}

footer .links {
  max-width: 100%;
  min-width: 50%;
  display: flex;
  flex-wrap: wrap;
}

footer .copy {
  font-weight: 600;
  max-width: 100%;
}
